.nav {
  background-color: red;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  font-weight: 900;
}

header a {
  text-decoration: none;
  color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin: 0 2rem;
  font-size: 15px;
  font-weight: 600;
}

.nav-item a {
  text-decoration: none;
}

.nav-item a:hover {
  font-size: 18px;
  color: red;
}

.navbar-search input {
  background-color: transparent;
  border: 1.5px solid #fff;
  border-radius: 20px;
  padding-inline: 10px;
  color: #fff;
  height: 30px;
}

::placeholder {
  font-size: smaller;
  color: #fff;
}

.showcase {
  background-image: url("../images/bg-image3.jpg");
  background-blend-mode: screen;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  z-index: 3;
  height: 100vh;
}

.showcase h1 {
  font-size: 6rem;
  letter-spacing: -.02em;
  color: red;
  /* color: #fff; */
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  margin-top: 12rem;
}

.showcase h2 {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #fff;
}

.showcase-btn {
  margin: 2rem;
}

.btn {
  display: inline-block;
  background: red;
  color: #fff;
  border: none;
  padding: 20px 40px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:hover {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}